.midSection{
  background: whitesmoke;
  padding-top: 3rem;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 3rem;
  background-size: contain;
  margin-top: 3.5rem;
}

.midSection .container{
  position: relative;
}
.midSection .container h1{
  letter-spacing: 1px;  
}


/* introduction component css */
.introduction{
  margin-top: 3.5rem;
  font-family: 'Poppins', sans-serif;
}
.introduction h3{
  margin-left: auto;
  margin-right: auto;
}
.introduction p{
  line-height: 1.6;
  font-size: 1.1rem;
  letter-spacing: 1px;
}



.ShopByBrand{
  font-family: 'Poppins', sans-serif;
}