.myCart{
	min-height: 100vh;
	margin-top: 3.5rem;
	font-family: 'Poppins', sans-serif;
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
.myCart .table h6{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} 
@media screen and (max-width: 600px) {
    .myCart .table h6{
        position: relative;
        top: 1rem;

    } 
    .myCart .table img{
        height: 100px;
        width: 100px;
    }
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
        float:left;
	}
	.actions .btn-danger{
        float: left;
        
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}

@media(min-width : 601px) and (max-width: 992px) {
	.myCart .table h6{
        position: relative;
		display: block;
		top: 1rem;
    } 
}





/* Check out css */

.CheckOut{
	margin-top: 3.5rem;
	min-height: 100vh;
	background: whitesmoke;
	font-family: 'Poppins', sans-serif;
}
.CheckOut input{
	border-left: none;
	border-right: none;
	border-top: none;
	border-radius: 0;
	outline: none;
	box-shadow: none!important;
}
.CheckOut select{
	border-left: none;
	border-right: none;
	border-top: none;
	border-radius: 0;
	box-shadow: none!important;
	
}
